@model DnD_Further.Models.Class

@{
    ViewData["Title"] = "Spell Details";
}

<h2>@Model.Name</h2>
<h3>@Model.Description</h3>

<body>
@*     <ul>
        @foreach (Class classs in Model.Class)
        {
            <li>@classs.Name</li>
            <li>@classs.Description</li>
        }
    </ul> *@
</body>