@model IEnumerable<Character>

<div class="text-center">
<h1 class="display-4" style="text-decoration:underline;font-size:120px;">THE PLANES</h1>
</div>

@if (Model == null || Model.Count() == 0)
{
	<h2>Sorry! No character available</h2>
}
else
{
	<h4>@TempData["Success"]</h4>

	<form class="d-flex mt-4 mb-4" asp-controller="Character" asp-action="Search" method="post">
		<input name="key" class="form-control me-2" type="search" placeholder="Search" />
		<button class="btn btn-secondary my-2" type="submit">Search</button>
	</form>

	<div class="row" style="background-color:black">
		@foreach (Character c in Model)
		{
		<div class="col col-4">
			<partial name="_CharacterPartialView.cshtml" for="@c" />
		</div>
		}
	</div>
}