<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - DnD_Further</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/css/Kian.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/DnD_Further.styles.css" asp-append-version="true" />
</head>
<body style="background-color:rgb(35, 16, 4)">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm">
            <div class="container-fluid">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse myNav">
                    <ul class="navbar-nav flex-grow-1 justify-content-between align-content-center">
                        <li class="nav-item">
                            <a class="nav-link text-light navBox" asp-area="" asp-controller="Home" asp-action="Index"><pre></pre><p>HOME</p></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light navBox" asp-area="" asp-controller="Character" asp-action="GetSpell"><pre></pre><p>API Test</p></a>
                        </li>
                        <li>
                            <a class="nav-link navTitle text-light" asp-area="" asp-controller="Home" asp-action="Index"><pre>  </pre><h1 class="stupidHeader1">D&D FURTHER</h1></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light navBox" asp-area="" asp-controller="Character" asp-action="CharacterViewer"><pre></pre><p>PLANES</p></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light navBox" asp-area="" asp-controller="Character" asp-action="Creator"><pre></pre><p>CREATOR</p></a>
                        </li>
                    </ul>


                </div>
            </div>
        </nav>
    </header>
    <div class="container" >
        <main role="main" class="pb-3" >
            @RenderBody()
        </main>
    </div>

    <footer class="border-bottom footer text-muted">
        <div class="container">
            &copy; 2024 - DnD_Further - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
