@page
@model LockoutModel
@{
    ViewData["Title"] = "Locked out";
}

<header>
    <h1 class="text-light">@ViewData["Title"]</h1>
    <p class="text-light">This account has been locked out, please try again later.</p>
</header>
